{% comment %}
  Renders a product media modal. Also see 'product-media-gallery'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant

  Usage:
  {% render 'product-media-modal' %}
{% endcomment %}

{%- liquid
  assign is_vt = false
  if section.settings.gallery_layout == 'vertical_thumbnails'
    assign is_vt = true
  endif
-%}

<product-modal
  id="ProductModal-{{ section.id }}"
  class="product-media-modal media-modal{% if is_vt %} product-media-modal--vt{% endif %}"
  {% if is_vt %}data-vt="true"{% endif %}
>
  <div
    class="product-media-modal__dialog color-{{ section.settings.color_scheme }} gradient"
    role="dialog"
    aria-label="{{ 'products.modal.label' | t }}"
    aria-modal="true"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ section.id }}"
      type="button"
      class="product-media-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {{ 'icon-close.svg' | inline_asset_content }}
    </button>

    <div
      class="product-media-modal__content color-{{ section.settings.color_scheme }} gradient"
      role="document"
      aria-label="{{ 'products.modal.label' | t }}"
      tabindex="0"
    >
      {%- liquid
        if product.selected_or_first_available_variant.featured_media != null
          assign media = product.selected_or_first_available_variant.featured_media
          render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
        endif
      -%}

      {%- for media in product.media -%}
        {%- liquid
          if section.settings.hide_variants and variant_images contains media.src or variant_images contains media.id
            assign variant_image = true
          else
            assign variant_image = false
          endif

          unless media.id == product.selected_or_first_available_variant.featured_media.id
            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
          endunless
        -%}
      {%- endfor -%}
    </div>

    {%- if is_vt -%}
      <div class="product-media-modal__thumbs" role="tablist" aria-label="Vignettes du modal">
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          {%- assign vt_featured = product.selected_or_first_available_variant.featured_media -%}
          <button
            type="button"
            class="product-media-modal__thumb"
            data-modal-thumb-target="{{ vt_featured.id }}"
            aria-current="true"
            aria-label="Image 1"
          >
            <img
              src="{{ vt_featured.preview_image | image_url: width: 160 }}"
              alt="{{ vt_featured.alt | escape }}"
              loading="lazy"
              width="80"
              height="107"
            >
          </button>
        {%- endif -%}
        {%- assign vt_pos = 1 -%}
        {%- for media in product.media -%}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            {%- assign vt_pos = vt_pos | plus: 1 -%}
            <button
              type="button"
              class="product-media-modal__thumb"
              data-modal-thumb-target="{{ media.id }}"
              aria-label="Image {{ vt_pos }}"
            >
              <img
                src="{{ media.preview_image | image_url: width: 160 }}"
                alt="{{ media.alt | escape }}"
                loading="lazy"
                width="80"
                height="107"
              >
            </button>
          {%- endunless -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</product-modal>
